@import "tailwindcss";
@plugin "daisyui";

.text-primary {
    color: #ff0055;
}

.border-primary {
    border-color: #ff0055;
}

.bg-primary {
    background-color: #ff0055;
}

.btn-primary {
    background-color: black;
    color: white;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    border: none;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-secondary {
    background-color: #fff;
    color: black;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    border: 1px solid black;
}
